VITE_AUTH_API_URL=http://localhost:8080/api/v1
VITE_CORE_API_URL=http://localhost:8083/api/v1
VITE_ATTENDANCE_API_URL=http://localhost:8082/api/v1
VITE_GOOGLE_CLIENT_ID=tu_google_client_id_aqui
VITE_FACEBOOK_APP_ID=tu_facebook_app_id_aqui
VITE_PORT=5173
